.elementor-button span {
	text-decoration: inherit;
}

.elementor *, .elementor ::after, .elementor ::before {
	box-sizing: border-box;
}

.elementor-button-content-wrapper {
	display: flex;
	justify-content: center;
}

.elementor-button span {
	text-decoration: inherit;
}

.elementor-8821 .elementor-element.elementor-element-a411344 .elementor-button {
	font-family: "Poppins", Sans-serif;
	font-size: 24px;
	font-weight: 700;
	background-color: #0194BE;
	border-style: solid;
	border-width: 5px 5px 5px 5px;
	border-color: #0194BE;
}

body .elementor-button.elementor-size-sm, body .elementor-button.elementor-size-xs, body .elementor-button.elementor-size-md, body .elementor-button.elementor-size-lg, body .elementor-button.elementor-size-xl, body .elementor-button {
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
}

.elementor-widget-button .elementor-button {
	font-family: var( --e-global-typography-accent-font-family ), Sans-serif;
	font-weight: var( --e-global-typography-accent-font-weight );
	line-height: var( --e-global-typography-accent-line-height );
	word-spacing: var( --e-global-typography-accent-word-spacing );
}

.wp-block-button .wp-block-button__link, .elementor-button-wrapper .elementor-button, .elementor-button-wrapper .elementor-button:visited {
	color: rgb(255, 255, 255);
}

.elementor *, .elementor ::after, .elementor ::before {
	box-sizing: border-box;
}

.elementor-element {
	--widgets-spacing: 0px;
}

.elementor-element, .elementor-lightbox {
	--swiper-theme-color: #000;
	--swiper-navigation-size: 44px;
	--swiper-pagination-bullet-size: 6px;
	--swiper-pagination-bullet-horizontal-gap: 6px;
}

.elementor-element {
	--flex-direction: initial;
	--flex-wrap: initial;
	--justify-content: initial;
	--align-items: initial;
	--align-content: initial;
	--gap: initial;
	--flex-basis: initial;
	--flex-grow: initial;
	--flex-shrink: initial;
	--order: initial;
	--align-self: initial;
}

.e-con > .e-con-inner > .elementor-widget > .elementor-widget-container, .e-con > .elementor-widget > .elementor-widget-container {
	height: 100%;
}

.elementor-element .elementor-widget-container {
	transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,transform var(--e-transform-transition-duration,.4s);
}

.elementor *, .elementor ::after, .elementor ::before {
	box-sizing: border-box;
}

.e-con.e-con > .e-con-inner > .elementor-widget, .elementor.elementor .e-con > .elementor-widget {
	max-width: 100%;
}

.e-con .elementor-widget.elementor-widget {
	margin-bottom: 0;
}

.e-con .elementor-widget {
	min-width: 0;
}

.elementor-element {
	--widgets-spacing: 0px;
}

.elementor-element, .elementor-lightbox {
	--swiper-theme-color: #000;
	--swiper-navigation-size: 44px;
	--swiper-pagination-bullet-size: 6px;
	--swiper-pagination-bullet-horizontal-gap: 6px;
}

.elementor-8821 .elementor-element.elementor-element-bc520c2, .elementor-8821 .elementor-element.elementor-element-bc520c2::before {
	--border-transition: 0.3s;
}

.elementor-8821 .elementor-element.elementor-element-9a84c5b {
	--display: flex;
	--min-height: 660px;
	--flex-direction: column;
	--container-widget-width: 100%;
	--container-widget-height: initial;
	--container-widget-flex-grow: 0;
	--container-widget-align-self: initial;
	--background-transition: 0.3s;
	--border-radius: 10px 10px 10px 10px;
	--border-top-left-radius: 10px;
	--border-top-right-radius: 10px;
	--border-bottom-right-radius: 10px;
	--border-bottom-left-radius: 10px;
}

.e-con.e-flex > .e-con-inner {
	flex-wrap: var(--flex-wrap);
	justify-content: var(--justify-content);
	align-items: var(--align-items);
	align-content: var(--align-content);
	flex-basis: auto;
	flex-grow: 1;
	flex-shrink: 1;
	align-self: auto;
}

.e-con-full.e-flex, .e-con.e-flex > .e-con-inner {
	flex-direction: var(--flex-direction);
}

.e-con > .e-con-inner {
	gap: var(--gap);
	width: 100%;
	max-width: var(--content-width);
	margin: 0 auto;
	padding-inline: 0;
	height: 100%;
}