@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@300;400;500;600;700&display=swap');

#vanta-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Ensure it's behind other content */
}

nav>h1>img {
    font-size: 3vw;
}

* {
  font-family: 'Montserrat', sans-serif;
  font-size: 400;
  padding: 0;
  margin: 0;
}

body {
  background-color: #202020;
}

h1 {
  font-size: 50px;
  color: white;
}

h1>span {
  font-family: "Montserrat", sans-serif;
  color: #20eb5d;
}

p {
  font-size: 20px;
}

h2,
h3,
h4,
h5,
h6,
p {
  color: white;
}

nav ul li {
  color: white;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  backdrop-filter: blur(8px) saturate(150%) brightness(96%);
  display: flex;
  flex-direction: column;
  /* Display items in a column */
  height: 7vw;
  width: 100%;
  align-items: center;
  justify-content: center;
  /* Center the text within the navbar */
  padding: 0 1%;
  z-index: 5;
  margin: auto;
  text-align: center;
}

nav h1 {
  font-size: 3vw;
  font-weight: 800;
  margin-right: 1%;
  margin-bottom: 10px;
  /* Add margin to create a new line */
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center the navbar items */
}

nav ul li {
  font-size: 1.2vw;
  margin: 0 1.5vw;
}

nav ul li a:hover {
  color: #2c7ffc;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

/* Add this to your existing CSS */
.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  /* Position the dropdown below the parent item */
  left: 50%;
  /* Center the dropdown horizontally */
  transform: translateX(-50%);
  /* Center the dropdown horizontally */
  background-color: #333;
  /* Background color for the dropdown */
  min-width: 160px;
  /* Adjust as needed */
  z-index: 1;
  margin: 0;
  /* Remove any default margin */
  padding: 0;
  /* Remove any default padding */
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content li {
  padding: 10px;
  text-align: left;
  white-space: nowrap;
  /* Prevent line breaks in menu items */
  list-style: none;
  /* Remove the default list style */
}

/* Style the dropdown link */
.dropdown-content a {
  color: white;
  text-decoration: none;
}

/* Style the dropdown link on hover */
.dropdown-content a:hover {
  color: #2c7ffc;
}

.center-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.card {
  border-radius: 3vh;
  font-family: "DM Sans";
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem;
  margin: 3px;
  text-align: center;
  width: 10%;
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.cardgroup {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card i {
  font-size: 100px;
  margin-top: 5px;
}

.card img {
  aspect-ratio: 1 / 1;
  height: 100px;
  margin-top: 5px;
  border-radius: 5px;
}

.card {
  border-radius: 3vh;
  font-family: "DM Sans";
  cursor: pointer;
  transition: all 0.3s;
  padding: 1rem;
  margin: 3px;
  text-align: center;
  width: 10%;
}

.card:hover {
  -webkit-box-shadow: 0px 2px 23px 5px var(--accent);
  ;
  -moz-box-shadow: 0px 2px 23px 5px var(--accent);
  box-shadow: 0px 2px 23px 5px var(--accent);
  /*transform: scale(1.05);*/
}

.card>* {
  flex: 1 1 160px;
}

.description {
  font-size: 10px;
}

.play {
  font-family: "Montserrat";
  font-weight: 700;
  color: var(--background);
}

button {
  background-color: #0284d4;
  padding: 8px 15px;
  border: none;
  font-size: 18px;
  border-radius: 5px;
  transition: 0.4s all;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* Place the particles behind other content */
}

@media screen and (max-width: 768px) {
  nav {
    height: 40px;
  }
}

@media screen and (max-height: 400px) {
  nav {
    height: 40px;
  }
}

#error-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: none;
}

#error-message {
  margin: 0;
}
